.Profile_body{
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
   
    /* margin: 0 auto;
    width: 50%; */
    justify-content: center;
    align-items: center;
    h2{
        margin-left: 100px;
        font-size: xx-large;
    }
}
.edit_logo{
    height: 200px;
}
.profile_header{
    display: flex;
    flex-direction: row-reverse;
  
}

.profile_info h4{
    padding:1rem 4rem;
    border-radius: 0.5rem;
    background-color: gray;
}

.profile_info{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
}